In [117]:
import pandas as pd

In [118]:
pd.__version__

'2.2.3'

In [119]:
from sqlalchemy import create_engine

In [120]:
path_to_tripdata_csv = 'C:/Users/me/Documents/green_tripdata_2019-10.csv'

In [121]:
path_to_taxi_zone_csv = 'C:/Users/me/Documents/taxi_zone_lookup.csv'

In [122]:
df_name = 'green_tripdata'

In [143]:
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [144]:
engine.connect()

In [145]:
df = pd.read_csv(path_to_tripdata_csv, nrows=100)

In [146]:
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime']).dt.tz_localize('America/New_York').dt.tz_convert('UTC')
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime']).dt.tz_localize('America/New_York').dt.tz_convert('UTC')

In [147]:
print(pd.io.sql.get_schema(df, name=df_name, con=engine))

CREATE TABLE green_tripdata (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITH TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITH TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [148]:
df_iter = pd.read_csv(path_to_tripdata_csv, iterator=True, chunksize=10000)

In [149]:
df = next(df_iter)

In [150]:
len(df)

10000

In [151]:
df.head(n=0).to_sql(name=df_name, con=engine, if_exists='replace')

0

In [152]:
%time df.to_sql(name=df_name, con=engine, if_exists='append')

CPU times: total: 422 ms
Wall time: 1.06 s

1000

In [153]:
from time import time

In [154]:
while True: 
    #try:
        t_start = time()
        df = next(df_iter)
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
        df.to_sql(name=df_name, con=engine, if_exists='append')
        t_end = time()
        print('inserted another chunk, took %.3f second' % (t_end - t_start))
    #except StopIteration:
        #break

inserted another chunk, took 0.922 second
inserted another chunk, took 0.945 second
inserted another chunk, took 0.860 second
inserted another chunk, took 0.812 second
inserted another chunk, took 0.716 second
inserted another chunk, took 0.715 second
inserted another chunk, took 0.714 second
inserted another chunk, took 0.747 second
inserted another chunk, took 0.723 second
inserted another chunk, took 0.739 second
inserted another chunk, took 0.785 second
inserted another chunk, took 0.753 second
inserted another chunk, took 0.732 second
inserted another chunk, took 0.967 second
inserted another chunk, took 0.736 second
inserted another chunk, took 0.714 second
inserted another chunk, took 1.198 second
inserted another chunk, took 0.973 second
inserted another chunk, took 1.136 second
inserted another chunk, took 1.059 second
inserted another chunk, took 1.018 second
inserted another chunk, took 0.721 second
inserted another chunk, took 0.701 second
inserted another chunk, took 0.757 second
inserted another chunk, took 0.783 second
inserted another chunk, took 0.714 second
inserted another chunk, took 0.719 second
inserted another chunk, took 1.013 second
inserted another chunk, took 1.590 second
inserted another chunk, took 1.491 second
inserted another chunk, took 1.437 second
inserted another chunk, took 1.215 second
inserted another chunk, took 1.224 second
inserted another chunk, took 1.448 second
inserted another chunk, took 1.101 second
inserted another chunk, took 0.731 second
inserted another chunk, took 0.747 second
inserted another chunk, took 0.832 second
inserted another chunk, took 0.741 second
inserted another chunk, took 0.666 second
inserted another chunk, took 0.683 second
inserted another chunk, took 0.616 second
inserted another chunk, took 0.732 second
inserted another chunk, took 0.786 second
inserted another chunk, took 1.066 second
inserted another chunk, took 0.907 second
inserted another chunk, took 0.477 second

StopIteration:

In [111]:
df_zones = pd.read_csv(path_to_taxi_zone_csv)

In [112]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [113]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

## Question 3. Trip Segmentation Count

During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, **respectively**, happened:
1. Up to 1 mile
2. In between 1 (exclusive) and 3 miles (inclusive),
3. In between 3 (exclusive) and 7 miles (inclusive),
4. In between 7 (exclusive) and 10 miles (inclusive),
5. Over 10 miles

In [155]:
query = """
SELECT
    COUNT(CASE WHEN t.trip_distance <= 1 THEN 1 END) AS "Up to 1 mile",
    COUNT(CASE WHEN t.trip_distance > 1 AND t.trip_distance <= 3 THEN 1 END) AS "Between 1 and 3 miles",
    COUNT(CASE WHEN t.trip_distance > 3 AND t.trip_distance <= 7 THEN 1 END) AS "Between 3 and 7 miles",
    COUNT(CASE WHEN t.trip_distance > 7 AND t.trip_distance <= 10 THEN 1 END) AS "Between 7 and 10 miles",
    COUNT(CASE WHEN t.trip_distance > 10 THEN 1 END) AS "Over 10 miles"
FROM
    green_tripdata t
WHERE
    CAST(t.lpep_dropoff_datetime AS DATE) >= '2019-10-01'
    AND CAST(t.lpep_dropoff_datetime AS DATE) < '2019-11-01';
"""

In [156]:
df = pd.read_sql(query, engine)

In [158]:
df_transposed = df.transpose()

In [159]:
df_transposed.columns = ['Count']

In [160]:
print(df_transposed)

                         Count
Up to 1 mile            104802
Between 1 and 3 miles   198924
Between 3 and 7 miles   109603
Between 7 and 10 miles   27678
Over 10 miles            35189

## Question 4. Longest trip for each day
Which was the pick up day with the longest trip distance?

Use the pick up time for your calculations.

Tip: For every day, we only care about one single trip with the longest distance.

In [173]:
query = """
SELECT
    CAST(lpep_pickup_datetime AS DATE) AS pickup_day,
    MAX(trip_distance) AS max_distance
FROM
    green_tripdata
WHERE
    lpep_pickup_datetime >= '2019-10-01'
    AND lpep_pickup_datetime < '2019-11-01'
GROUP BY
    pickup_day
ORDER BY
    max_distance DESC
LIMIT 1;
"""

In [174]:
df = pd.read_sql(query, engine)

In [175]:
print(df)

   pickup_day  max_distance
0  2019-10-31        515.89

## Question 5. Three biggest pickup zones

Which were the top pickup locations with over 13,000 in
`total_amount` (across all trips) for 2019-10-18?

Consider only `lpep_pickup_datetime` when filtering by date.
 
- East Harlem North, East Harlem South, Morningside Heights
- East Harlem North, Morningside Heights
- Morningside Heights, Astoria Park, East Harlem South
- Bedford, East Harlem North, Astoria Park

In [186]:
query = """
SELECT
    zpu."Zone",
    SUM(total_amount) AS total_sum,
    COUNT(1) AS "count"
FROM
    green_tripdata t
JOIN
    zones zpu ON t."PULocationID" = zpu."LocationID"
WHERE
    CAST(lpep_pickup_datetime AS DATE) = '2019-10-18'
GROUP BY
    zpu."Zone"
HAVING
    SUM(total_amount) > 13000
ORDER BY
    total_sum DESC;
"""

In [187]:
df = pd.read_sql(query, engine)

In [188]:
print(df)

                  Zone  total_sum  count
0    East Harlem North   18686.68   1236
1    East Harlem South   16797.26   1101
2  Morningside Heights   13029.79    764

## Question 6. Largest tip

For the passengers picked up in October 2019 in the zone
named "East Harlem North" which was the drop off zone that had
the largest tip?

Note: it's `tip` , not `trip`

We need the name of the zone, not the ID.

- Yorkville West
- JFK Airport
- East Harlem North
- East Harlem South

In [194]:
query = """
SELECT
    zdo."Zone",
    MAX(tip_amount) as "max_tip_amount"
FROM
    green_tripdata t
JOIN
    zones zpu ON t."PULocationID" = zpu."LocationID"
JOIN
    zones zdo ON t."DOLocationID" = zdo."LocationID"
WHERE
    CAST(lpep_pickup_datetime AS DATE) >= '2019-10-01' AND
    CAST(lpep_pickup_datetime AS DATE) < '2019-11-01' AND
    zpu."Zone" = 'East Harlem North'
GROUP BY
    zdo."Zone"
ORDER BY
    MAX(tip_amount) DESC
LIMIT 1;
"""

In [195]:
df = pd.read_sql(query, engine)

In [196]:
print(df)

          Zone  max_tip_amount
0  JFK Airport            87.3